<header class="header" [ngClass]="{'menu-open': sideBar, 'fixed': showMenus}" role="banner">
    <div class="overlay" *ngIf="sideBar" (click)="toggle()"></div>
    <div class="header-profile">
        <div class="logo">
            <img src="assets/profile.png" alt="photo">
        </div>
        <h2>MANIGANDAN</h2>
    </div>
    <ul class="nav" *ngIf="showMenus">
        <li class="nav-items"><a (click)="navigatePage('home',false)">HOME</a></li>
        <li class="nav-items"><a (click)="navigatePage('about-me',false)">ABOUT</a></li>
        <li class="nav-items"><a (click)="navigatePage('connect',false)">CONNECT</a></li>
        <li class="nav-items"><a (click)="navigatePage('blogs',false)">BLOGS</a></li>
        <li class="nav-items"><a (click)="navigatePage('contact',false)">CONTACT</a></li>
    </ul>
    <div class="burger" (click)="toggle()" *ngIf="showMenus">
        <i class="fas fa-bars"></i>
    </div>
    <div class="back" *ngIf="!showMenus" (click)="navigateToHome()">
        <img src="assets/back.svg" alt="" srcset="">
    </div>
    <div class="side-bar" *ngIf="showMenus">
        <div class="close" (click)="toggle()">
            <i class="fas fa-times"></i>
        </div>
        <ul class="m-nav">
            <li class="m-nav-items"><a  (click)="navigatePage('home', true)">HOME</a></li>
            <li class="m-nav-items"><a (click)="navigatePage('about-me', true)">ABOUT</a></li>
            <li class="m-nav-items"><a (click)="navigatePage('connect', true)">CONNECT</a></li>
            <li class="m-nav-items"><a (click)="navigatePage('blogs', true)">BLOGS</a></li>
            <li class="m-nav-items"><a (click)="navigatePage('contact', true)"(click)="toggle()">CONTACT</a></li>
        </ul>
    </div>
</header>