<section class="footer-section">
    <div class="footer-details">
        <div class="details">
            <h1>Manigandan Elumalai</h1>
            <p>A Frontend focused Web Developer building the Frontend of Websites and Web Applications that leads to the success of the overall product</p>
        </div>
        <div class="social-details">
            <h1>Social</h1>
            <div class="social-icon-div">
                <a class="social-icon" href="https://tapthe.link/P2Aamhj122" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="social-icon" href="https://tapthe.link/6nd8DC4ngG" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a class="social-icon" href="https://twitter.com/iam___mani" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="social-icon" href="https://tapthe.link/5uGLrOBVue" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <p class="copy-right">&copy;Copyright 2024. Made by <a href="">Manigandan</a> ❤️</p>
</section>