<section class="contact-section">
    <div class="section-title">
        <h2>
            Contact
        </h2>
        <div class="line">
            <span></span>
        </div>
    </div>
    <div class="contact-details">
        <div class="contact-forms">
            <form (ngSubmit)="sendMessage(form)" #form="ngForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" name="name" ngModel matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="text" name="email" ngModel matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput required ngModel name="message"></textarea>
                </mat-form-field>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</section>
