<div class="intro-main">
    <section class="introduction-section">
        <div class="intro">
            <h1 class="name">Hey, I'm Manigandan</h1>
            <p>A full-stack developer passionate about building web applications. I also love sharing my knowledge and experiences with the dev community through helpful content.</p>
            <div class="download-button">
                <button (click)="navigateToConnect()">Connect</button>
            </div>
        </div>
    </section>
    <div class="into-social">
        <a href="https://tapthe.link/P2Aamhj122" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/iam___mani" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://tapthe.link/6nd8DC4ngG" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</div>
