.introduction-section {
    // background-color: #f2f0eb;
    background-image: url('../../../../../../assets/Sprinkle\ \(1\).svg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 50%;
        padding: 10rem 0;

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: 6px;
        }

        p {
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 1px;
            line-height: 1.2;
        }

        .download-button {
            display: flex;
            justify-content: center;

            button {
                border: none;
                background-color: black;
                color: #fff;
                padding: 1rem 5rem;
                text-transform: uppercase;
                border-radius: 25px;
                font-weight: bold;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

}
.intro-main {
    position: relative;
    .into-social {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        width: 4rem;
        a {
            font-size: 2rem;
            padding:0.5rem 0;
        }
        bottom: 0;
    }
}

@media screen and (max-width:600px) {
    .introduction-section {
        // height: ;
        .intro {
            padding: 8rem 0;
            width: 80%;
            gap: 2rem;
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1.2rem;
            }

            .download-button {
                button {
                    padding: 1rem 5rem;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .intro-main {
        .into-social {
            display: none;
        }
    }
    
}